<!-- <div style="background-color: lightgreen; text-align: center;">
  <button [cModalToggle]="withPopoverModal.id" cButton>Filter</button>

  <c-modal #withPopoverModal alignment="center" id="withPopoverModal" style="width: 600px; height: 600px;">
    <c-modal-header style="padding-top: 3px;">
      <button [cModalToggle]="withPopoverModal.id" cButtonClose></button>
    </c-modal-header>

    <div class="container mt-5 form-scroll-container" style="overflow-y: auto; height: 240px;"> -->
      <!-- Fixed Heading for Facts, Operations, and Values -->
      <!-- <div class="row" style="display: flex; width: 100%; position: sticky; top: 0; background-color: rgb(254, 253, 252); z-index: 1;">
        <div class="col" style="flex: 1 1 25%; text-align: center; font-weight: bold;">
          <h5>Facts</h5>
        </div>
        <div class="col" style="flex: 1 1 25%; text-align: center; font-weight: bold;">
          <h5>Operations</h5>
        </div>
        <div class="col" style="flex: 1 1 25%; text-align: center; font-weight: bold;">
          <h5>Values</h5>
        </div>
        <div class="col" style="flex: 1 1 25%;"></div>
      </div>

      <form>
        <div *ngFor="let section of formSections; let i = index" class="row">
          <div class="col">
            <app-expression 
              [categories]="categories"
              [opList]="opList[i]"
              [section]="section"
              [index]="i"
              (onCategoryChange)="onSelectChange($event, i)"
              (onOperationSelect)="selectOperation($event, i)"
              (onTypeChange)="onTypeChange($event, i)"
              (onFactSelected)="onFactSelected($event, i)">
            </app-expression>
          </div> -->

          <!-- Add the center-aligned radio buttons inside the container div -->
          <!-- <div *ngIf="i < totalComp">
            <input cFormCheckInput type="radio" value="one" name="flexRadioDefault" />
            <label cFormCheckLabel>And</label>

            <input cFormCheckInput type="radio" value="two" name="flexRadioDefault" checked />
            <label cFormCheckLabel>Or</label>
          </div>
        </div>
      </form>
      
    </div>
  -->
    <!-- <c-modal-footer>
      <button cButton color="secondary" (click)="createComponent()">New</button>
      <button cButton color="primary" (click)="onDone()">Done</button>
    </c-modal-footer>
  </c-modal>
</div>  -->
<h1>Hello</h1>