<div style="background-color: lightgreen; text-align: center;">
  <!-- Button to trigger modal -->
  <button [cModalToggle]="withPopoverModal.id" cButton>Filter</button>

  <!-- Modal for filter -->
  <c-modal #withPopoverModal alignment="center" id="withPopoverModal" style="width: 600px; height: 600px;">
    
    <!-- Modal Header -->
    <c-modal-header style="padding: 10px;">
      <button [cModalToggle]="withPopoverModal.id" cButtonClose></button>
    </c-modal-header>
    

    <div class="container mt-5 form-scroll-container" style="overflow-y: auto; height: 240px;">
      <!-- Fixed Heading for Facts, Operations, and Values -->
      <div class="row" style="display: flex; width: 100%; position: sticky; top: 0; background-color: rgb(254, 253, 252); z-index: 1;">
        <div class="col" style="flex: 1 1 30%; text-align: center; font-weight: bold;">
          <h5>Facts</h5>
        </div>
        <div class="col" style="flex: 1 1 30%; text-align: center; font-weight: bold;">
          <h5>Operations</h5>
        </div>
        <div class="col" style="flex: 1 1 30%; text-align: center; font-weight: bold;">
          <h5>Values</h5>
        </div>
        <div class="col" style="flex: 1 1 10%;"></div>
      </div>

      <form>
        <!-- Loop through formSections -->
        <div *ngFor="let section of expressions; let i = index" class="row" style="margin-bottom: 2px; padding: 5px;">
          
          <!-- Expression Component for each section -->
          <div class="row">
            <app-expression 
            [opList]="opList[i]"
            [facts]="facts"
            [expression]="expressions"
            [section]="section"
            [operators]="operations"
            [index]="i"
            (onCategoryChange)="handleCategoryChange($event, i)"
            (onOperationChange)="handleOperationChange($event, i)"
            (onTypeChange)="handleTypeChange($event, i)"
            (onRelationChange)="handleRelationChange($event, i)"
            (onDeleteSection)="handleDeleteSection($event)">
            </app-expression>
          </div>
        </div>
      </form>
    </div>

    <!-- Modal Footer with action buttons -->
    <c-modal-footer style="display: flex; justify-content: space-between;">
      <div>
        <button cButton (click)="createComponent('and')" style="margin-right: 5px; border: none; background: none; color: blue; font-weight: bold;">AND</button>
        <button cButton (click)="createComponent('or')" style="border: none; background: none; color: blue; font-weight: bold;">OR</button>
      </div>
      <div>
        <button cButton color="primary" (click)="onDone()">Done</button>
      </div>
    </c-modal-footer>
  </c-modal>
</div>
