<div class="row" *ngIf="expression[index].sequenceNo > 0" style="margin-bottom: 2.25px;">
  <!-- Center-aligned radio buttons inside the container div -->
  <div class="col text-center" style="display: flex; justify-content: center; align-items: center; margin: 4px; padding: 5px; padding-bottom: 5px;">
    <!-- Radio buttons for logical conditions -->
    <input cFormCheckInput type="radio" value="and" name="flexRadioDefault{{index}}" (change)="onRelationChangeHandler($event)" [checked]="expression[index].logicalOperator === 'and'" />
    <label cFormCheckLabel style="margin-right: 10px;">And</label>
  
    <input cFormCheckInput type="radio" value="or" name="flexRadioDefault{{index}}" (change)="onRelationChangeHandler($event)" [checked]="expression[index].logicalOperator === 'or'" />
    <label cFormCheckLabel>Or</label>
  </div>
</div>

<div class="row" style="margin-bottom: 17.25px;">
    <div class="col" style="flex: 1 1 22%;">
      <select class="form-select" id="dropdown{{index}}" required (change)="onCategoryChangeHandler($event)" (click)="onCategorychange($event)">
        <option value="" disabled selected>Select an option</option>
        <option *ngFor="let fact of facts" [value]="fact.name">{{ fact.name }}</option>
      </select>
    </div>
  
    <div class="col" style="flex: 1 1 22%;">
      <select class="form-select" id="operationDropdown{{index}}" required (change)="onOperationChangeHandler($event)">
        <option value="" disabled selected>Select an operation</option>
        <option *ngFor="let operation of opList" [value]="operation">{{ operation }}</option>
      </select>
    </div>
  
    <div class="col" style="flex: 1 1 15%;">
      <select class="form-select" id="typeDropdown{{index}}" (change)="onTypeChangeHandler($event)" required>
        <option value="" disabled selected>Select Type</option>
        <option value="static">Static</option>
        <option value="fact">Fact</option>
        <option value="formula">Formula</option>
      </select>
    </div>
  
    <div class="col" style="flex: 1 1 22%;">
      <ng-container *ngIf="expression[index].typeOfValue === 'fact'; else textField">
        <select class="form-select" id="valueDropdown{{index}}" [(ngModel)]="section.value" [ngModelOptions]="{standalone: true}" required>
          <option value="" disabled selected>Select a value</option>
          <option *ngFor="let value of valueOptions" [value]="value.name">{{ value.name }}</option>
        </select>
      </ng-container>
  
      <ng-template #textField>
        <input type="text" class="form-control" id="textfield{{index}}" placeholder="Enter Value" [(ngModel)]="section.value" [ngModelOptions]="{standalone: true}" required>
      </ng-template>
    </div>

    <div class="col" style="flex: 1 1 10%;">
      <button cButtonClose (click)="onDeleteSectionHandler()"></button>
    </div>
</div>



